<footer class="footer">
    <div class="footer__addr">
      <h1 class="footer__logo">Jaspreet's Blog</h1>
      <div class="footer_icons">
        <a href={{personal.linkedin}} target="_blank"><i class="fa-brands fa-2x fa-linkedin"></i></a>
        <a><i class="fa-brands fa-2x fa-twitter"></i></a>
        <a><i class="fa-brands fa-2x fa-facebook"></i></a>
        <a href={{personal.github}} target="_blank"><i class="fa-brands fa-2x fa-github"></i></a>
      </div>
      
    </div>
    
    <ul class="footer__nav">
      
      
      <li class="nav__item nav__item--extra">
        <h2 class="nav__title">Topics</h2>
        
        <ul class="nav__ul nav__ul--extra">
          {% for cat in category%}
          <li>
            <a href=`/blog/blogs/${{cat.heading}}`>{{cat.heading}}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      
      
      <li class="nav__item">
        <h2 class="nav__title">Quick Links</h2>
        
        <ul class="nav__ul">
          <li>
            <a href="#">Home</a>
          </li>
          
          <li>
            <a href="#">Blog</a>
          </li>
          
          <li>
            <a href="#">About</a>
          </li>
        </ul>
      </li>
      
    </ul>
    
    <div class="legal">
      <p>&copy; {{year}} Juspreet's Blog. All rights reserved.</p>
    </div>
  </footer>