{% load static %}
<div class="nav">
    {% comment %} <div class="icons">
        <a href="https://www.linkedin.com/in/juspreet51/" target="_blank"><i
                class="fa-brands fa-2x fa-linkedin"></i></a>
        <a><i class="fa-brands fa-2x fa-twitter"></i></a>
        <a><i class="fa-brands fa-2x fa-facebook"></i></a>
        <a href="https://github.com/juspreet51" target="_blank"><i class="fa-brands fa-2x fa-github"></i></a>
    </div> {% endcomment %}
    <div class="logo">
        <img src="{% static 'images/title_image.png' %}" />
    </div>
    <div class="links">
        <a href='/'>Home</a>
        <a href='/blog/blogs'>Blog</a>
        <a href='/about/aboutme'>About</a>
        <a href="/admin"><i class="fa-solid fa-user"></i></a>
    </div>
</div>